<header>
  <div class="img">
    <img src="assets/title.png"/>
  </div>
  <div class="points">
    <h2>183</h2>
    <div>POINTS</div>
  </div>
</header>

<section class="session centered font-sans">
  <p>Session 4</p>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top">
  <img src="assets/text_border_top.png"/>
</div>

<section class="questions">
  <div class="paragraph centered font-sans">
    <p>First, think about the areas that are most dangerous to you by thinking about your triggers. What kind of relapse are you most likely to have (crystal, high­risk sex, or both)?</p>
  </div>

  <div class="textarea centered">
    <textarea class="1"><%= answer_1 %></textarea>
  </div>

  <div class="paragraph centered font-sans">
    <p>What high­risk behaviors can you change? Consider such things as getting clean needles, making sure that you have condoms, planning to have different kinds of sex?</p>
  </div>

  <div class="textarea centered">
    <textarea class="2"><%= answer_2 %> </textarea>
  </div>

  <div class="paragraph centered font-sans">
    <p>What support systems and resources (both friendships and activities) can you activate to reduce the amount of time you use and help you get back into recovery?
    </p>
  </div>

  <div class="textarea centered">
    <textarea class="3"><%= answer_3 %> </textarea>
  </div>

  <div class="paragraph centered font-sans">
    <p>As you have become more familiar with the relationship between crystal and sexuality, what have you learned about being able to stop thoughts of drug use?
    </p>
  </div>

  <div class="textarea centered">
    <textarea class="4"><%= answer_4 %></textarea>
  </div>
  
 <div class="paragraph centered font-sans">
    <p>￼What have you learned about being able to stop high­risk sex fantasies?</p>
  </div>

  <div class="textarea centered">
    <textarea class="5"><%= answer_5 %> </textarea>
  </div>

   <div class="paragraph centered font-sans">
    <p>￼What are some things that you can do to stop a relapse from becoming re­addiction?</p>
  </div>

  <div class="textarea centered">
    <textarea class="6"><%= answer_6 %> </textarea>
  </div>

</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="finish-chapter centered">
  <img src="assets/next_button.png"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>